<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoPlantas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>

     <header>
          <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #6dc067;">
              <div class="container">
                  <a class="navbar-brand" asp-area="" asp-controller="Plantas" asp-action="Principal">
                      <img src="https://filologia.ucr.ac.cr/wp-content/uploads/2017/01/firma-horizontal-una-linea-ucr.png" alt="LogoUCR" width="540" height="100" class="d-inline-block align-text-top">
                  </a>
                

                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="navbar-collapse collapse d-flex align-items-end justify-content-sm-end">
                      <ul class="navbar-nav nav-pills">
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Plantas" asp-action="Principal">Inicio</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link text-light" asp-area="" asp-controller="Plantas" asp-action="Listar">Usuario</a>
                          </li>
                      </ul>
                  </div>

              </div>

          </nav>

      </header> 


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center" style="background-color: #6dc067; height:60px">
        <div class="container text-light">
            &copy; 2022 - Universidad de Costa Rica
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
