<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoPlantas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="SHORTCUT ICON" href="~/Images/LEGMi-Negro.png">

    <style>
        .navbar {
            padding-top: 0;
            width: 100%; /* Full width */
        }
    </style>
</head>

<body>

    <header>

        <!--Barra de menú principal-->
        <nav class="navbar navbar-toggleable navbar-light bg-faded" style="background-color: #6dc067;">
            <ul class="navbar-nav mx-auto flex-shrink">
                <li class="nav-item active">
                    <img src="~/Images/ucrsinfondo2.png" alt="one" height="80">
                </li>
            </ul>
            <ul class="navbar-nav mx-auto flex-unordered flex-shrink">
                <li class="nav-item ">
                    <img src="~/Images/EB.png" alt="two" height="80">
                </li>
            </ul>
            <ul class="navbar-nav mx-auto flex-unordered flex-sm-last">
                <li class="nav-item ">
                    <img src="~/Images/LEGMi-Negro.png" alt="two" height="80">
                </li>
            </ul>
        </nav>

        <!--Barra de menú gris-->
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark box-shadow mb-3" style="background-color: #CDCDCD">

            <div class="navbar-collapse collapse d-flex align-items-end justify-content-sm-end" style="margin-right: 25px">
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Plantas" asp-action="Principal"> <i class="bi bi-house-door-fill"></i> Inicio</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link text-dark font-weight-bold" asp-area="" asp-controller="Plantas" asp-action="Login"> <i class="bi bi-people-fill"></i> Usuario</a>
                    </li>
                </ul>
            </div>

        </nav>

    </header> 




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center" style="background-color: #6dc067; height:60px">
        <div class="container text-light" >
            &copy; 2023 - Todos los derechos reservados
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
