@model SitioWeb.Models.PlantasTotalModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Editar hospedero</h5>

    <div class="card-body col-md-9 col-sm-12">

        <div class="mb-3">
            <label class="form-label">ID</label>
            <input asp-for="ID" disabled="disabled" type="text" class="form-control" id="txtID">
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre Científico</label>
            <input asp-for="NombreCientifico" type="text" class="form-control" id="txtNomCientifico">
            <span asp-validation-for="NombreCientifico" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Género</label>
            <input asp-for="GeneroHosp" type="text" class="form-control" id="txtGenero">
            <span asp-validation-for="GeneroHosp" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Nombre común</label>
            <input asp-for="NombreComun" type="text" class="form-control" id="txtNomComun">
            <span asp-validation-for="NombreComun" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Subfamilia</label>
            <select class="form-control" aria-label=".form-select-lg example" asp-for="Subfamilia" id="selectSubfamilia" required>
                <option disabled selected hidden>Seleccione</option>
                <option value="Papilionoideae">Papilionoideae</option>
                <option value="Caesalpinioideae">Caesalpinioideae</option>
                <option value="Detarioideae">Detarioideae</option>
                <option value="Cercidoideae">Cercidoideae</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Tipo de Hojas</label>
            <input asp-for="TipoHojas" type="text" class="form-control" id="txtTipoHojas">
            <span asp-validation-for="TipoHojas" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Morfología de hojas</label>
            <input asp-for="MorfoHojas" type="text" class="form-control" id="txtMorfoHojas">
            <span asp-validation-for="MorfoHojas" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Posición de las hojas</label>
            <input asp-for="PosHojas" type="text" class="form-control" id="txtPosHojas">
            <span asp-validation-for="PosHojas" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Posición de los foliolos</label>
            <input asp-for="PosFoliolos" type="text" class="form-control" id="txtPosFoli">
            <span asp-validation-for="PosFoliolos" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Color de flor</label>
            <input asp-for="ColorFlor" type="text" class="form-control" id="txtColor">
            <span asp-validation-for="ColorFlor" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Tipo de flor</label>
            <input asp-for="TipoFlor" type="text" class="form-control" id="txtFlor">
            <span asp-validation-for="TipoFlor" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Cantidad de pétalos</label>
            <input asp-for="Petalos" type="text" class="form-control" id="txtPetalos">
            <span asp-validation-for="Petalos" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Presencia de espinas</label>
            <input asp-for="Espinas" type="text" class="form-control" id="txtEspinas">
            <span asp-validation-for="Espinas" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Amenazado</label>
            <input asp-for="Amenazado" type="text" class="form-control" id="txtAmenazado">
            <span asp-validation-for="Amenazado" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Color de la raíz</label>
            <input asp-for="ColorRaiz" type="text" class="form-control" id="txtRaiz">
            <span asp-validation-for="ColorRaiz" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Simbionte</label>
            <input asp-for="Simbionte" type="text" class="form-control" id="txtSimbionte">
            <span asp-validation-for="Simbionte" class="text-danger"></span>
        </div>

        <!--Imagen-->
        <div class="col-sm-6">
            <label class="form-label">Seleccione una foto de la planta: </label>
            @if (Model != null && !String.IsNullOrEmpty(Model.Imagen))
            {
                <img src="@Html.DisplayFor(model => model.tipoImagen), @Html.DisplayFor(model => model.Imagen)" class="form-control-file" id="img" height="240" width="240" style="border:1px">
            }
            else
            {
                <div class="col text-center">
                    <img src="https://denac-public.s3.amazonaws.com/assets/img/catalog/thumbnails/accesorios/iluminacion/cuartos/nissan/00418081r.png" class="form-control-file" id="img" width="240" height="240">
                </div>
            }
            <div id="chooseFile">
                <br />
                <input type="file" id="fupload" accept="image/*">
            </div>
        </div><br />
        <!--Imagen-->


        <div class="mb-3">
            <label class="form-label">Nodula</label>
            <select class="form-control" aria-label=".form-select-lg example" asp-for="Nodula" id="selectNodula" required>
                <option disabled selected hidden>Seleccione</option>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
        </div>
    </div>


    <div class="botones text-center">
        <a asp-action="Listar" asp-controller="Plantas" class="btn btn-dark btn-sm"> <i class="bi bi-arrow-return-left"></i> Regresar</a>
        <button type="submit" class="btn btn-dark btn-sm" id="update"> <i class="bi bi-save-fill"></i> Actualizar</button>
    </div> <br />

    <!--Script de la vista previa-->
    <script type="text/javascript">

                var images
                function ReadImages(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $('#img').attr('src', e.target.result);
                            images = e.target.result //4000 characters
                        }

                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $('#fupload').change(function () {
                    ReadImages(this);
                })

               //Script del botón actualizar
                $('#update').click(function () {
                    var obj = {}
                    obj.ID = $('#txtID').val();
                    obj.NombreCientifico = $('#txtNomCientifico').val();
                    obj.GeneroHosp = $('#txtGenero').val();
                    obj.NombreComun = $('#txtNomComun').val();
                    obj.Subfamilia = $('#selectSubfamilia').val();
                    obj.TipoHojas = $('#txtTipoHojas').val();
                    obj.MorfoHojas = $('#txtMorfoHojas').val();
                    obj.PosHojas = $('#txtPosHojas').val();
                    obj.PosFoliolos = $('#txtPosFoli').val();
                    obj.ColorFlor = $('#txtColor').val();
                    obj.TipoFlor = $('#txtFlor').val();
                    obj.Petalos = $('#txtPetalos').val();
                    obj.Espinas = $('#txtEspinas').val();
                    obj.Amenazado = $('#txtAmenazado').val();
                    obj.ColorRaiz = $('#txtRaiz').val();
                    obj.Simbionte = $('#txtSimbionte').val();
                    obj.Nodula = $('#selectNodula').val();

                    var img = images.split(","); //Separa el string por el valor del parámetro
                    obj.tipoImagen = img[0];
                    obj.Imagen = img[1]

                    $.ajax({
                        url: '@Url.Action("Editar", "Plantas")', 
                        type: 'POST',
                        dataType: 'JSON',
                        data: { objs: obj },
                        success: function (data) {
                            alert(data);
                        },

                        error: function (request, status, error) {

                            var val = request.responseText;
                            window.location.href = 'https://localhost:5001/Plantas/Listar'
                        }

                    })
                })
    </script>

</div>
