@model PlantasTotalModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Editar hospedero</h5>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Plantas" method="post">

            <input asp-for="ID" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el registro de la planta @Html.DisplayTextFor(m => m.NombreCientifico)?
            </div>

            <div class="botones text-center">
                <a asp-action="Listar" asp-controller="Plantas" class="btn btn-outline-dark btn-sm">Regresar</a>
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
            </div>
       
        </form>

        <p>Si se elimina una planta también deben borrarse todos su registros en la tabla PlantasNodulan</p>
        <p>así como las imágenes que estén relacionadas con esa planta </p>


    </div>
</div>

