@model PlantasTotalModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Eliminar hospedero</h5>
    <div class="card-body">

        <form asp-action="Eliminar" asp-controller="Plantas" method="post">

            <input asp-for="ID" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el registro de la planta @Html.DisplayTextFor(m => m.NombreCientifico)? <!--Ponerle cursiva al nombre científico-->
            </div>

            <div class="botones text-center">
                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                <a asp-action="Listar" asp-controller="Plantas" class="btn btn-outline-dark btn-sm">Regresar</a>
            </div>

        </form>

    </div>
</div>


