@model SitioWeb.Models.PlantasTotalModel

@{
    ViewData["Title"] = "ListarFamilias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center"> Subfamilia @Html.DisplayTextFor(m => m.Subfamilia) </h1>

<div>
    <p>Aquí se muestran todas las plantas dentro de la subfamilia que se haya seleccionado, (se incluye nombre científico, nombre común e imagen )</p>




</div>  