@model UsuariosModel

@{
    ViewData["Title"] = "Iniciar Sesión";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid vh-10" style="margin-top: 50px">

    <div class="" style="margin-top: 10px">

        <div class="rounded d-flex justify-content-center">

            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">

                <div class="text-center">
                    <h3 class="text-success">Iniciar Sesión</h3>
                </div>

                <form action="@Url.Action("Login","Plantas")" method="post">

                    <div class="p-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-success">
                                <i class="bi bi-person-plus-fill text-white"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Correo" name="usuario" />
                            <span asp-validation-for="Usuario" class="text-danger"></span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text bg-success">
                                <i class="bi bi-key-fill text-white"></i>
                            </span>
                            <input type="password" class="form-control" placeholder="Contraseña" name="clave">
                            <span asp-validation-for="Clave" class="text-danger"></span>
                        </div>

                        <div class="botones text-center">
                            <button class="btn btn-success btn-block text-center mt-2" type="submit"> Ingresar </button> <br /> <br />
                            <a class="text-center " asp-action="Listar" asp-controller="Plantas">¿Olvidó su contraseña?</a> <br />
                            <a class="btn btn-darke btn-sm text-center" asp-action="Principal" asp-controller="Plantas"> <i class="bi bi-arrow-return-left"></i> Regresar</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

