@model List<PlantasNodulan>

@{
    ViewData["Title"] = "VerNodulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>

    <h1 class="text-center" style="font-style: italic;"> @ViewData["NombrePlanta"] </h1> <br />

    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {

            <a asp-action="" asp-controller="Plantas" class="button btn btn-light btn-sm" data-toggle="modal" data-target="#myModal" asp-route-ID=""> @item.IdNodulo </a>

        }
    </div>

    <!--Formulario Nodula con PopUp-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-header">

                        <h2 class="modal-title text-center"> Detalles del Nódulo </h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="card-body col-md-9 col-sm-12" id="FormNodula">


                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-dark btn-sm"> Guardar </button>
                    </div>


                </form>
            </div>
        </div>

    </div>

</body>
</html>

